!.gitignore


.cloud/
.storage/
blueprints/
custom_components/
deps/
nest/
tts/
www/community/*
!www/community/homeos/
image/

secrets.yaml
scripts.yaml
scenes.yaml
group.yaml
mqtt.yaml

*.log*
*.db*